:root {
  --primary-color: #1a5f7a; /* Мектептин негизги түсү (мисалы, көк) */
  --secondary-color: #f8f9fa;
  --text-color: #333;
  --accent-color: #ffcc00;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}